/* Message.css */

body {
  margin: 0; /* Remove default body margin */
  background-color: white; /* Replace with your desired color code */
}

.centeredM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 20px;
  text-align: center;
  margin-top: -100px; /* Adjust the negative margin as needed */
}

h2 {
  font-family: 'Agbalumo', cursive; 
  color: white; /* Replace with the color code or name you want */
  font-size: 22px; /* Adjust the font size as needed */
}

p {
  font-family: 'Agbalumo', cursive; 
  color: white; /* Replace with the color code or name you want */
  text-align: left; /* Align the text to the left */
  margin-left: 20px; /* Add some left margin for indentation */
  white-space: pre-line; /* Preserve spaces and line breaks */
}